/* here you can put your own css to customize and override the theme */
body {
    font-family: 'Nunito', sans-serif !important;
}

.blockOverlay{
	z-index: 12000 !important;
}

.blockMsg.blockPage{
	z-index: 12050 !important;
}